.env
docker-compose.override.y*ml
.project
.dbeaver
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
backend.tfconf
keys
*.tar
venv/
backup/
tests/node_modules/
tests/test-results/
tests/playwright-report/
